@media screen and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
        font-size: 1em;
    }

    footer {
        display: none !important;
    }

    .sidenav, #sandwich-menu {
        display:none;
    }

    .horizontal-nav {
        font-size: 0.6em;
    }
    
    .featured-foods
    {
        max-width: 92%;
        max-height: 8em;
    }

    .feature-food-card {
        min-height: 5em;
        
    }

    .feature-food-card h1
    {
       font-size: 1em;
      margin-top: 1em;
    }
    
    footer,
    .horizontal-nav,
    .restaurants-list
     {

        width: 100%;
    }

    .restaurants-list {
        display: grid;
        grid-template-columns: 1fr !important;
    }
    
    .restaurant-container {
        min-width: 4em;
    }

    .login-page {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        overflow: hidden;
        height: 100vh;
  
    }

    .waves-login {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .login-form {
        
        padding-left: 0em;
        margin: 0em;
        text-align: center;
        min-width: 14em;
        margin: 1em;
        
    }

    .right-login-background {
        display: flex;
        justify-content: center;
        grid-template-columns: 1fr !important;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .left-login-background {
        display: none !important;
    }

    .login-form button, .login-form input {
        min-width: 10em;
    }


    section.menu-page {
        display: grid !important;
        grid-template-columns: 1fr !important;
        padding: 0em;
        width: 100%;
    }

    .menu-filter {
        display: none !important;
    }
    
    #menu-breakfast, #menu-dish, #menu-dessert {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-template-columns: 1fr 1fr !important;
        display: grid !important;
       
        border-left: 0em solid rgb(50, 60, 112) !important;
        padding-left: 0em !important;
        margin-bottom: 2em;
    }
    section.menus-list h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* EDIT AND ADD PAGES */

    .signup-page,
    .edit-restaurant-page,
    .edit-profile-page,
    .add-restaurant-page,
    .add-menu-page,
    .add-comment-section {
    
        background: #F7E2E2;
        min-width: 90%;
        width: 90%;
        height: 100vh;
        padding: 1em;
        margin: 2em auto;
        padding: 0em;
        text-align: center;

    }

    .signup-form,
    .edit-restaurant-form,
    .edit-profile-form,
    .add-restaurant-form,
    .add-menu-form, .add-comment-form,
    .restaurant-comments{


        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 0.7em;
        max-width: 90%;
        padding: 1.5em;
        margin: 0 auto;
        font-weight: 600;
        text-align: left;

        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }


    .profile-page {

        grid-template-columns: 1fr !important;
    }

    .profile-filter {
        display: none !important;
    }
    .profile-favourites {
        grid-template-columns: 1fr !important;
    }

    .profile-favourites h2, .profile-orders h2 {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        
    
    }
    .profile-info, .profile-restaurants, .profile-orders, .profile-favourites {
        display: grid;
        grid-template-columns: 1fr !important;
        row-gap: 1em;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .profile-info h2, .profile-restaurants h2, .profile-orders h2, .profile-favourites h2 {
    
        font-size: 1em;
        margin: 1em 1em;
    }

    .profile-info p, .profile-restaurants p, .profile-orders p, .profile-favourites p {
    
        font-size: 0.7em;

    }

}