* {
	box-sizing: border-box;
	font-family: 'Montserrat';
	color: #1A132F;

}

html,
body {
	min-height: 100%;
	background: #F7E2E2;

}

/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}

/* sets the base font size for the document; turns on kerning pairs and ligatures */

body,
ul,
ol,
dl {
	margin: 0;
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	/* 100% Full-height */
	width: 0;
	/* 0 width - change this with JavaScript */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Stay on top */
	top: 0;
	/* Stay at the top */
	left: 0;
	background-color: #5B7DB1;
	/* Black*/
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding-top: 60px;
	/* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */

}


/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #1A132F;
	font-weight: 500;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.signup-page, .edit-restaurant-page {


	background: #F7E2E2;
	min-width: 960px;
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	text-align: center;

}

.signup-form, .edit-restaurant-form {


	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.7em;
	width: 40em;
	padding: 1.5em;
	margin: 1em auto 2em auto;
	font-weight: 600;
	text-align: left;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
textarea {

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	display: inline-block;
	min-height: 36px;
	padding: 8px 12px;
	width: 100%;
	margin-top: 5px;

	font-weight: 300;
	background: #f5eaea;

	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	box-sizing: border-box;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;

	font-size: 15px;
	color: #404040;
	outline: none;
}

input[type='submit'],
button,
.btn {
	color: white;
	text-decoration: none;

	background-color: #1A132F;
	/* change button color here */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
	border: 0px;
	outline: none;

	display: inline-block;
	padding: 8px 22px;
	margin-bottom: 0;
	margin-top: 1em;

	width: auto;

	font-size: 1em;
	font-weight: normal;
	letter-spacing: .12rem;
	line-height: 1.428571429;
	text-align: center;

	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input[type='submit']:hover,
button:hover,
.btn:hover {
	transition-duration: 200ms;
	background-color: #61A4BC;
	/* change button color here */
}

input[type='submit']:active,
button:active,
.btn:active {
	background-color: rgba(0, 0, 0, .3);
	/* change button color here */
	border: 0px;
	-webkit-box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, .15);
	box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, .15);
}



.scrolling-wrapper {
	-webkit-scrollbar-display: none;
}



.scrolling-wrapper {

	white-space: nowrap;
	overflow: hidden;
	scroll-behavior: smooth;
	position: relative;

	justify-content: flex-start;
}

.card {

	display: inline-block;
	text-align: center;
	position: relative;
	text-decoration: none;
	padding: 1em;
	border: 0.1em solid #1A132F;
	border-radius: 1em 0.5em 1em 1em;
	margin: 1em 1em;
	min-width: 10em;
	max-width: 10em;
	max-height: 6em;

}

.feature-food-card h1 {

	color:#f5eaea;



}

.scroll-left,
.scroll-right {
	width: 3em;
	height: 2em;
	border: none;
	text-align: center;
	border-radius: 8px;
	background-color: #1A132F;
	color: white;
}

.scroll-left {
	position: absolute;
	top: 80px;
	left: 10px;
}

.scroll-right {
	position: absolute;
	top: 160px;
	right: 10px;

}




.restaurant-name {
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
}

section.restaurants-list {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;

}

section.restaurants-list>section.restaurant-container {
	padding: 1em;
	border: 0.1em solid #1A132F;
	box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, .2);
	margin: 0 auto;
	border-radius: 1em;
	margin-bottom: 1em;
	width: 30%;

}

ul {
	margin: 1em auto;
	display: flex;
	justify-content: flex-start;

}

ul li {

	margin: auto 2em;
}

nav ul :last-child {

	margin-right: 2em;
	margin-left: auto;
}

a {
	text-decoration: none;
}


footer ul {
	margin: 3em;
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 1.4rem;
}

/* begins to set up font sizes relative to base rem – h1 has been used as an example */

.featured-foods {

	position: relative;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0em 0.1em 0.3em 0.2em rgba(0, 0, 0, .2);
	margin: 2em auto;

}


.featured-foods article {
	padding: 1em;
	box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, .2);
	margin: 1em 1em;
}

p {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}


.login-page {

	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;

}

.login-footer {
	font-size: 0.6em;
}

.right-login-background {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.login-form {

	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 5;




}

.login-background {

	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;



}

.left-login-background img {

	width: 100%;
	height: 100%;
	object-fit: cover;

}



/* =========================================== */
/*  POP UP */
/* =========================================== */

section#popup {
	position: fixed;
	right: 1em;
	bottom: 1em;
	min-width: 10em;
	border: 0.1em solid #1A132F;
	padding: 1em;
	background-color: white;
	display: grid;

	grid-template-columns: 1fr 1fr;
}

section#popup>img.popup-img {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

section#popup>button.pupup-close {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

section#popup>p.popup-text {
	grid-column-end: span 2;
}

/* Pop up animations */

section#popup[opening] {
	animation: slide-up 500ms ease-out, fade-in 700ms;
}

section#popup[closing] {
	animation: slide-down 500ms ease-out, fade-out 700ms;
}

section#popup.closed {
	display: none;
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(100%);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/*=====================================================*/
/* Search Bar side nav */
/*=====================================================*/



.horizontal-nav {

	display: flex;
	align-items: center;

}

#search-bar {
	border-radius: 1em;
	box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, .2);
	max-width: 80%;
	min-width: 60%;
	width: auto;

}

#signin-button {

	font-weight: 500;
	font-size: 1em;
	border-radius: 1em;
	background-color: #cdd0d1;
	padding: 0.3em 0.9em 0.3em 0.9em;
}

.hnav-item {

	text-align: left;
	margin: 0 auto;


}

.hnav-item img {

	height: 3em;
	width: 4em;
}